<h1>Calculate all possible videos</h1>
<div>
    <div class="form-group">
        <div>
            <label for="input1">Maximum Times a video can appear</label>
            <input type="text" class="form-control" id="input1" style="margin-bottom: 10px;">
            <button id="input1-btn-1">1</button>
            <button id="input1-btn-2">2</button>
            <button id="input1-btn-3">3</button>
            <button id="input1-btn-4">4</button>
            <button id="input1-btn-5">5</button>
            <button id="input1-btn-6">6</button>
            <button id="input1-btn-7">7</button>
            <button id="input1-btn-8">8</button>
            <button id="input1-btn-9">9</button>
        </div>
    </div><br>
    <div class="form-group">
        <div>
            <label for="input2">Videos per array</label>
            <input type="text" class="form-control" id="input2" style="margin-bottom: 10px;">
            <button id="input2-btn-1">1</button>
            <button id="input2-btn-2">2</button>
            <button id="input2-btn-3">3</button>
            <button id="input2-btn-4">4</button>
            <button id="input2-btn-5">5</button>
            <button id="input2-btn-6">6</button>
            <button id="input2-btn-7">7</button>
            <button id="input2-btn-8">8</button>
            <button id="input2-btn-9">9</button>
        </div>
    </div>
</div><br>
<h6 style="text-align: center;">Amount of videos automatically added from <br>user library</h6>
<p id="output-numberOfCombinations">Input values for output</p>