<h1>Delete a Profile</h1>
<p>Choose from the dropdown, a profile to delete</p>
<p>Selected Profile: <span style="color: red;" id="selectedProfile-todelete"></span></p>
<div style="display: flex;">
    <div class="dropdown" style="margin-right: 20px;">
        <button class="btn btn-dark dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false"
            data-bs-theme="dark" id="">
            Choose File . . .
        </button>
        <ul class="dropdown-menu" data-bs-theme="dark" id="dropdown-deleteProfiles">
        </ul>
    </div>
    <button class="btn btn-danger" id="deleteProfileBtn">Delete Profile</button>
</div>
</div>