<h1>Select a Profile</h1>
<p>Choose from the dropdown, a profile to equip</p>
<p>Current Equipped Profile: <span style="color: green;" id="selectedProfile-equipped"></span></p>
<p>New Chosen Profile: <span style="color: yellow;" id="selectedProfile-nowSelected"></span></p>
<div style="display: flex;">
    <div class="dropdown" style="margin-right: 20px;">
        <button class="btn btn-dark dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false"
            data-bs-theme="dark" id="">
            Choose File . . .
        </button>
        <ul class="dropdown-menu" data-bs-theme="dark" id="selectedProfile-toequip">
        </ul>
    </div>
    <button class="btn btn-success" id="selectProfileBtn">Select Profile</button>
</div>
</div>