<div class="custom-center-div center">
    <h3>Set Video Usage Limit in script</h3>
    <br>
    <p>In the following input field, the user shall input the maximum times a video can be permitted to be used by
        the script</p>
    <div class="loading-data-usageLimit">
        <h5 id="usageIndicator" class="loading-text">Loading Usage Limit..</h5>
    </div>
</div>
<div class="input-group mb-3 custom-center-div">
    <input type="text" class="form-control" placeholder="Enter The Usage Limit" aria-label="Recipient's username"
        aria-describedby="videoUsageButton" id="videoUsageInput">
    <button class="btn btn-outline-success" type="button" id="videoUsageButton">Apply</button>
</div>